# Dependências
node_modules/

# Arquivos de ambiente
.env
.env.local

# Logs
*.log
npm-debug.log*

# Arquivos do sistema
.DS_Store
Thumbs.db

# Banco de dados
*.sqlite
*.db

# IDE
.vscode/
.idea/
*.swo
*.swp

# Build
dist/
build/
*.tgz